@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    color: white;
}

body{
    background-image: url("https://unitystationfile.b-cdn.net/Website-Statics/layer1.png");
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.inset-shadow::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    box-shadow: var(--tw-shadow);
    pointer-events: none;
}
