.clown-img {
    position: absolute;
    image-rendering: pixelated;
    animation: speeeen 5s linear infinite;
}

@keyframes speeeen {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.timesClicked {
    position: fixed;
}
